.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $size-sm;
    font-family: $font-family-base;
    padding: $space-sm $space-xs;
    border-radius: $radius-md;
    background: linear-gradient(135deg, #C7F36B, #7FAE3C);
    &-title{
    font-family: $font-family-geneva;
    font-weight: bold;
    font-size: $size-md;
    }
    &-img{
    display: relative;
    height: $size-xl;
    width: $size-xl;
    }
    &-icon{
    display: absolute;
    }
}