@use "variables" as *;

.card{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $space-sm;
    font-family: $font-family-base;
    padding: $space-sm $space-sm ;
    border-radius: $radius-md;
    background: linear-gradient(135deg, $primary-green, $secondary-green);
    box-shadow: $shadow-md;
    cursor: pointer;
    &:hover{
        transform: scale(1.1)
    }
    &-title{
    font-family: $font-family-geneva;
    font-weight: bold;
    font-size: $size-md;
    }
    &-content{  
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap: $space-md;
    }
    &-img-wrapper{
    position: relative;
            &:hover{
            transform: scale(1.2)
        }
    }
    &-img{
    height: $size-2xl;
    width: $size-2xl;
    border-radius: $radius-md;
    object-fit: cover;
    display: block;
    }
    &-icon{
    position: absolute;
    top: 6px;
    right: 6px;
    color: white;
        &:hover{
            opacity: 0.9; transform: translateY(-2px);
            color: $primary-green;
            outline-style: outset;
        }
        &-green{
            color: $primary-green;
        }
    }
    &-pills{
    display: flex;
    align-items: center;
    gap: $size-sm;    
    }
    &-pill{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $space-xs;
    padding: 4px 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    font-size: 12px;
    font-weight: 500;
        &:hover{
            transform: scale(1.2)
        }
    }
    &-calorie-icon{
        color: $calorie-green;
    }
}