@use "variables" as *;

.header{
  display:flex;
  justify-content: space-around;
  align-items: center;
  &-content{
    display: flex;
    flex-direction: column;
    gap: $space-sm;
  }
  &-main-title{
    font-family: $font-family-geneva;
    font-weight: bold;
    font-size: $size-md;
  }
  &-second-title{
    font-family: $font-family-geneva;
    font-size: $size-sm;
  }
}
.search-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray;
  border-radius: $radius-md;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: $space-sm;
    width: 80%;
    background-color: white;
    box-shadow: $shadow-md;
    height: 64px;
    border-radius: $radius-lg;
    &-icon{
    font-size: 24px;
    color: #089B63;
    }
}

.btn { 
    background: none; 
    border: none; 
    cursor: pointer; 
  }



.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
  &.hidden{
    display: none;
  }
}
@keyframes l3 {to{transform: rotate(1turn)}}