@use "variables" as *;

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    bottom: $space-sm;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: $shadow-md;
    height: 64px;
    border-top-left-radius: $size-md;
    border-top-right-radius: $size-md;
}

.icon{
    font-size: $size-lg;
    color: #089B63;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
  &.hidden{
    display: none;
  }
}
@keyframes l3 {to{transform: rotate(1turn)}}