// BORDER RADIUS
$radius-sm: 8px;
$radius-md: 16px;
$radius-lg: 32px;
// SHADOW
$shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.08);
$shadow-md: 0 6px 20px rgba(0, 0, 0, 0.12);
//TYPOGRAPHY
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$title-primary-size: 1.5rem;
$title-secondary-size: 1.125rem;
// FONT
$font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//SIZES
$size-sm: 8px;
$size-md: 16px;
$size-lg: 32px;
$size-xl: 64px;
$size-2xl: 128px;
// SPACING
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;